@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: lato-regular;
    src: url(../font/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-light;
    src: url(../font/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(../font/Lato/Lato-Bold.ttf);
}